* {
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

html,
body {
    padding: 0;
    margin: 0;
}

.container {
    background-image: url("./assets/images/Map/lith_backdrop.png");
    background-position: center;
    background-repeat: repeat-x;
    background-attachment: scroll;

    position: relative;
    height: 100vh;
    overflow: hidden;
}

audio {
    width: 240px;
    height: 32px;
    margin: 4px;
}

.top-right {
    position: absolute;
    right: 4px;
    top: 4px;
    color: white;
}

#exp-gained {
    color: white;
}


.hp-bar {
    height: 5vh;
}

.health-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: bold;
    height: 5vh;
    font-size: 4vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 70vh;
}

.party-one, .party-two {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

/* Flip left character */
.party-one {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.center-grid {
    height: 70vh;
}

.mob-name {
    color: black;
    font-weight: bold;
    height: 5vh;
    font-size: 4vh;
    text-align: center;
}

.damage-line-1 {
    margin-bottom: 16px;

}

.damage {
    display: flex;
    margin-bottom: 1vh;
}

.mob-and-damage {
    display: flex;
    height: 65vh;
    width: 50vw;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}


/* .boss {
    border: 1px solid red;
    height: 20vh;
    width: 20vh;
    background-color: red;
    display: none;
}

.mob {
    border: 1px solid blue;
    height: 15vh;
    width: 15vh;
    background-color: blue;
} */

.footer-tab {
    position: absolute;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
    bottom:0;
    width: 100vw;
    height: 5vh;
    align-items: center;
    background: lightblue;
}

#progress-bar {
    width: 100%;
    background-color: grey;
    width: 25vw;
    height: 80%;
  }
  
#current-progress {
    width: 0%;
    height: 100%;
    background-color: yellow;
}

#level-text {
    color: black;
    font-weight: bold;
    font-size: 3vh;
}

#current-level {
    color: black;
    font-weight: bold;
    font-size: 3vh;
}