* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}



html,
body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    cursor: url("./assets/images/cursor/ms_default.cur"), auto;
}

.container {
    background-position: center;
    position: relative;
    width: 98vw;
    height: 98vh;
    max-width: 1920px;
    max-height: 1080px;
    margin-top: 8px;
    overflow: hidden;
    border: 3px solid rgb(221,221,204);
    border-radius: 5px;
}

#start-screen {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#start-modal {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 252px;
    height: 380px;
    padding: 16px;
    background: linear-gradient(0deg, rgba(221,204,170) 80%, rgba(187,153,136) 95%, rgba(170,136,119) 100%);
    border: 6px solid rgb(221,221,204);
    border-radius: 10px;
    color: white;
}

#start-modal h1 {
    margin: 0;
    font-size: 28px;
}

#modal-content {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

#start-modal button {
    width: 100%;
    height: 18%;
    border: 2px solid rgb(187, 102, 34);
    border-bottom: 4px solid rgb(187, 102, 34);
    border-radius: 10px;
    background-color: rgb(238, 170 , 34);
    color: white;
    font-size: 32px;
    font-weight: 700;
}

#start-modal button:hover {
	background-color: rgba(238 ,170 , 34, 0.5);
	transition: 0.3s;
    cursor: url(assets/images/cursor/ms_default.cur), auto;
}

#toggle-mute {
    position: absolute;
    right: 0;
    width: 120px;
    padding: 8px 12px;
    margin: 8px;
    border: none;
    border-radius: 16px;
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(0, 255, 42);
}

.top-right {
    position: absolute;
    right: 4px;
    top: 4px;
    color: white;
}

#exp-gained {
    color: white;
}

#mob-hp {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: bold;
    font-size: 28px;
}

#mob-name, #kill-counter, #boss-timer {
    color: black;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

#boss-timer {
    color: red;
    /* visibility: hidden; */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 50%;
}

.player-container {
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    /* Flip image */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.mob-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#mob {
    z-index: 9;
}

#damageLine {
    display: flex;
    margin-bottom: 8px;
}

.footer-tab {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5%;
    bottom: 0;
    gap: 12px;
    padding: 0 16px;
    background: rgba(0, 0, 0, 0.9);
    color:white;
    font-size: 28px;
    font-weight: 700;
}

#lvl-text, #current-lvl {
    color: rgb(213, 216, 38);
}

#player-top-left {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    border-radius: 4px;
    width: 20vh;
    height: 20vh;
    border-end-end-radius: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    z-index: 100;
}

.top-left-info {
    color: white;
    z-index: 10;
}

#exp-bar {
    left: 0;
    top: 0;
    background-color: black;
    border-radius: 4px;
    width: 20vh;
    height: 20vh;
    border-end-end-radius: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    z-index: 3;
}

#current-exp {
    position: absolute;
    left: 0;
    top: 0;
    width: 21vh;
    height: 21vh;
    border-right: 1vh solid rgb(213, 216, 38);
    border-bottom: 1vh solid rgb(213, 216, 38);
    border-end-end-radius: 100%;
    background-color: none;
    transform: rotate(80deg); /* W3C */  
    transform-origin: top left;
    z-index: 1;
}

#progress-mob-hpbar, 
#progress-boss-hpbar {
    background-color: rgb(100, 100, 100);
    border-radius: 4px;
    width: 30%;
    height: 16px;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border: 1px silver solid;
}

#current-mob-hp-progress, 
#current-boss-hp-progress {
    width: 100%;
    height: 100%;
    background-color: rgb(190, 0, 0);
}

#platform {
    margin-top: -36px;
}

#progress-boss-hpbar {
    width: 100%;
    height: 16px;

}

#boss-image {
    width: 46px;
    height: 46px;
    border: 2px solid red;
}

#boss-details {
    position: absolute;
    left: 25%;
    bottom: 20vh;
    width: 50%;
    height: 16px;
    display: none;
}

.boss-grid {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 2px;
}

/* Breakpoints
  'mobile':  360px,
  'tablet': 768px,
  'desktop':  1024px,
  'wide': 1280px
*/

@media only screen and (min-width: 768px) {
    #start-modal {
        width: calc(252px * 1.5);
        height: calc(252px * 2);
    }

    #start-modal h1 {
        font-size: calc(28px * 1.5);
    }

    #modal-content {
        font-size: 24px;
    }

    #start-screen button {
        font-size: calc(32px * 1.5);
    }
}

@media only screen and (max-height: 500px) {

    #boss-details {
        position: absolute;
        left: 25%;
        top: 35%;
        width: 50%;
        height: 16px;
        display: none;
    }

}